In [2]:
import pandas as pd

In [10]:
pd.DataFrame({"A": [1,2], "B": [3, 4], "C": [5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [15]:
pd.DataFrame(
[[4, 7, 10],
[5, 8, 11]],
index=[1,2],
columns=["A", "B", "C"])

   A  B   C
1  4  7  10
2  5  8  11

In [16]:
pd.DataFrame(
{"a" : [1, 2, 3],
"b" : [4, 5, 6],
"c" : [7, 8, 9]},
index= pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',2)],
 names=['n','v']))

     a  b  c
n v
d 1  1  4  7
  2  2  5  8
e 2  3  6  9

In [17]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object