In [17]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)
from icecream import ic
'''
 - (1) pivot(), pd.pivot_table() ***

 - (2) stack(), unstack() ***

 - (3) melt() ***

 - (4) wide_to_long()

 - (5) pd.crosstab()
'''

'\n - (1) pivot(), pd.pivot_table() ***\n\n - (2) stack(), unstack() ***\n\n - (3) melt() ***\n\n - (4) wide_to_long()\n\n - (5) pd.crosstab()\n'

In [59]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
ad = pd.pivot(df, index='customer_id', columns='product_code', values='purchase_amount')
ad

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [60]:
# 31 30번 객체를
#    customer_id 와 grade 를 인덱스로하고 product_code 를 컬럼으로,
#    purchare_amount 를 값으로, 재구성하시오
afff = pd.pivot(df, index=['customer_id', 'grade'], columns='product_code', values='purchase_amount')
afff

product_code        com  phone    tv
customer_id grade
jang        B       NaN    NaN  10.0
kang        A       NaN    NaN  30.0
kim         A      30.0    NaN   NaN
lee         A       NaN   10.0   NaN
park        A       NaN    NaN   0.0
ryu         B       NaN    0.0   NaN
song        A      40.0    NaN   NaN
tak         B       0.0    NaN   NaN
yoon        A       NaN   15.0   NaN

In [61]:
# 32
'''
melt() 는 ID 변수를 기준으로 원래 데이터셋에 있던 여러개의 칼럼 이름을
'variable' 칼럼에 위에서 아래로 길게 쌓아놓고,
'value' 칼럼에 ID와 variable에 해당하는 값을
넣어주는 식으로 데이터를 재구조화
'''
df = pd.DataFrame(data=np.arange(16).reshape(4, 4), index=pd.MultiIndex.from_tuples([('kim', '2019'), ('kim', '2020'), ('lee', '2019'), ('lee', '2020')]),
                  columns=['com', 'phone', 'tv', 'notebook'])

df.stack(level=-1, dropna=True)
df.unstack(level=-1)

     com      phone        tv      notebook
    2019 2020  2019 2020 2019 2020     2019 2020
kim    0    4     1    5    2    6        3    7
lee    8   12     9   13   10   14       11   15

In [63]:
df = pd.DataFrame({"customer_id":['kim','kim','lee','lee'],
               "product_code":['com','phone','tv','tab'],
               "purchase_count":[1,2,3,4],
               "purchase_amount":[100,200,300,400]})
ic(df)

ic| df:   customer_id product_code  purchase_count  purchase_amount
        0         kim          com               1              100
        1         kim        phone               2              200
        2         lee           tv               3              300
        3         lee          tab               4              400

  customer_id product_code  purchase_count  purchase_amount
0         kim          com               1              100
1         kim        phone               2              200
2         lee           tv               3              300
3         lee          tab               4              400

In [64]:
# (1) pd.melt(data, id_vars=['id1', 'id2', ...]) 를 사용한 데이터 재구조화
pd.melt(df, id_vars=['customer_id', 'product_code'])

  customer_id product_code         variable  value
0         kim          com   purchase_count      1
1         kim        phone   purchase_count      2
2         lee           tv   purchase_count      3
3         lee          tab   purchase_count      4
4         kim          com  purchase_amount    100
5         kim        phone  purchase_amount    200
6         lee           tv  purchase_amount    300
7         lee          tab  purchase_amount    400

In [67]:
# (2) pd.melt() 의 variable 이름, value 이름 부여하기 : var_name, value_name

df.melt(id_vars=['customer_id', 'product_code'], var_name='phd_CD', value_vars='phd_val')

  customer_id product_code           phd_CD  value
0         kim          com  purchase_amount    100
1         kim        phone  purchase_amount    200
2         lee           tv  purchase_amount    300
3         lee          tab  purchase_amount    400

In [46]:
np.random.seed(10)
df = pd.DataFrame({"Class1":{0:"A",1:"B",2:"C"},
                  "Class2":{0:"D",1:"E",2:"F"},
                  "Score1":{0:"2.5",1:"1.2",2:"0.7"},
                  "Score2":{0:"3.2",1:"1.3",2:"0.1"},
                   "value": dict(zip(range(3),np.random.randn(3)))})
df["seq"] = df.index
df = df.reset_index()
df.rename(columns={'level_0':'customer_id','level_1':'year'}, inplace=True)
'''
pd.wide_to_long() 함수를 써서 데이터를 재구조화
wide_to_long()은 pivot() 이나 stack() 과는 다르게
"칼럼 이름의 앞부분"과 나머지 "칼럼 이름의 뒷부분"을 구분해서,
칼럼 이름의 앞부분을 칼럼 이름으로,
칼럼 이름의 나머지 뒷부분을 행(row)의 원소로 해서
세로로 길게(long~) 쌓아 줍니다.
pd.widt_to_long() 함수를 한번 사용해서
가로로 넓은 데이터(wide~)를 세로로 길게(long~) 재구조화 하시오.
pd.wide_to_long(data, ["col_prefix_1", "col_prefix_2"], i="idx_1", j="idx_2")
'''

ic| df:   Class1 Class2 Score1 Score2     value  seq
        0      A      D    2.5    3.2  1.331587    0
        1      B      E    1.2    1.3  0.715279    1
        2      C      F    0.7    0.1 -1.545400    2
ic| df:    index Class1 Class2 Score1 Score2     value  seq
        0      0      A      D    2.5    3.2  1.331587    0
        1      1      B      E    1.2    1.3  0.715279    1
        2      2      C      F    0.7    0.1 -1.545400    2

   index Class1 Class2 Score1 Score2     value  seq
0      0      A      D    2.5    3.2  1.331587    0
1      1      B      E    1.2    1.3  0.715279    1
2      2      C      F    0.7    0.1 -1.545400    2

In [88]:
df = pd.wide_to_long(df, stubnames=["Class", "Class"], i='seq', j='t', sep='')

KeyError: "None of [Index(['seq'], dtype='object')] are in the [columns]"

In [71]:
'''
pd.crosstab()
범주형 변수로 되어있는 요인(factors)별로 교차분석(cross tabulations) 해서,
행, 열 요인 기준 별로 빈도를 세어서 도수분포표(frequency table),
교차표(contingency table) 를 생성한다

# 범주형 변수란 고유한 값이나 범주 수가 제한된 변수(예: 성별 또는 종교)이다.
# 교차분석(cross-tabulation analysis)은 '범주형'으로 구성된 자료들 간의 연관관계를 확인하기 위해
   교차표를 만들어 관계를 확인하는 분석 방법이다.
'''
df = pd.DataFrame({"학생ID" :["kim","kim","kim","lee","lee","park"],
                   "1학기학점":["A","A","A","B","B","B"],
                   "2학기학점":["D","D","D","C","C","D"]})
ic(df)

ic| df:    학생ID 1학기학점 2학기학점
        0   kim     A     D
        1   kim     A     D
        2   kim     A     D
        3   lee     B     C
        4   lee     B     C
        5  park     B     D

   학생ID 1학기학점 2학기학점
0   kim     A     D
1   kim     A     D
2   kim     A     D
3   lee     B     C
4   lee     B     C
5  park     B     D

In [73]:
pd.crosstab(df['1학기학점'], df['2학기학점'])

2학기학점  C  D
1학기학점
A      0  3
B      2  1

In [81]:
pd.crosstab([df['학생ID'], df['학생ID']], [df['1학기학점'], df['2학기학점']])

1학기학점      A  B
2학기학점      D  C  D
학생ID 학생ID
kim  kim   3  0  0
lee  lee   0  2  0
park park  0  0  1

In [83]:
pd.crosstab(df['학생ID'], [df['1학기학점'], df['2학기학점']], rownames=['aa'], colnames=['aa', 'bb'])

aa    A  B
bb    D  C  D
aa
kim   3  0  0
lee   0  2  0
park  0  0  1

In [84]:
pd.crosstab(df['학생ID'], [df['1학기학점'], df['2학기학점']], rownames=['aa'], colnames=['aa', 'bb'], margins=True)

aa    A  B    All
bb    D  C  D
aa
kim   3  0  0   3
lee   0  2  0   2
park  0  0  1   1
All   3  2  1   6

In [85]:
pd.crosstab(df['학생ID'], [df['1학기학점'], df['2학기학점']], rownames=['aa'], colnames=['aa', 'bb'], normalize=True)

aa      A         B
bb      D         C         D
aa
kim   0.5  0.000000  0.000000
lee   0.0  0.333333  0.000000
park  0.0  0.000000  0.166667

In [ ]:
df = pd.DataFrame({'id': ['id1', 'id1', 'id1', 'id2', 'id2', 'id3'],
'fac_1': ['a', 'a', 'a', 'b', 'b', 'b'],
'fac_2': ['d', 'd', 'd', 'c', 'c', 'd']})
df

In [ ]:
pd.crosstab(df.id, [df.fac_1, df.fac_2])

In [ ]:
pd.crosstab([df.fac_1, df.fac_2], df.id)